<div class="upload-card">
    <h2>Secure File Uploader</h2>
  
    <input 
      type="file" 
      id="fileInput" 
      (change)="onFileSelected($event)" 
      hidden
    />
    
    <label for="fileInput" class="file-select-button">
      Choose File
    </label>
  
    <p class="file-name" *ngIf="selectedFileName">{{ selectedFileName }}</p>
  
    <button 
      (click)="onUpload()" 
      [disabled]="!selectedFile || isUploading"
      class="upload-button"
    >
      {{ isUploading ? 'Uploading...' : 'Upload' }}
    </button>
    <div *ngIf="downloadUrl" class="download-box">
        <p>✅ File uploaded successfully!</p>
        <p><strong>Link (valid for 15 mins):</strong></p>
        <input type="text" [value]="downloadUrl" readonly class="link-box" />
        <button (click)="copyToClipboard()">Copy</button>
        <span *ngIf="copied" class="copied-msg">Copied!</span>
      </div>
      
  
    <!-- Spinner -->
    <div class="spinner" *ngIf="isUploading"></div>
  </div>
  